@import "variables";
@import "footer";
@import "mixins"

h1 {
  color: $primary-color;
  background-color: $primary-color-comp;
  @include respond-min($breackpoint-sm) {
    background-color: green;
  }
}

h2 {
  color: $primary-color-light;
  background-color: $primary-color-dark;
}






a {
  color: $primary-color;
  text-decoration: none;
  &:hover , &:visited {
    color: $primary-color-dark;
  }
}